# e.g. http://localhost:8080
API_URL=""
# e.g. http://localhost:8080/api/auth
AUTHULA_URL=""

# e.g. id of the extension, e.g. acbdefghijklmnopqrstuvwxyz
VITE_EXTENSION_ID=""
# e.g. http://localhost:8080/api/auth
VITE_AUTHULA_URL=""
# e.g. http://localhost:8080
VITE_API_URL=""
# e.g. http://localhost:3000
VITE_BASE_URL=""
VITE_APP_NAME="CliqRelay"
