# ------------------------
# DOCKER COMPOSE
# ------------------------

POSTGRES_USER=postgres
# Generate using: openssl rand -base64 30
POSTGRES_PASSWORD=
POSTGRES_DB=cliqrelay
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379
# Generate using: openssl rand -base64 30
REDIS_PASSWORD=

RUSTFS_ACCESS_KEY=
RUSTFS_SECRET_KEY=
RUSTFS_ADDRESS="0.0.0.0:9000"
RUSTFS_CONSOLE_ADDRESS="0.0.0.0:9001"
RUSTFS_CONSOLE_ENABLE=true
RUSTFS_PORT=9000
RUSTFS_CONSOLE_PORT=9001

API_PORT=8080
FRONTEND_PORT=3000

# ------------------------
# BACKEND
# ------------------------

# e.g. redis://default:<password>@redis/0
REDIS_URL=
EVENT_BUS_CONSUMER_GROUP=cliqrelay-consumer-group

# RustFS (S3-compatible storage)
S3_ACCESS_KEY_ID=rustfsadmin
# Generate using: openssl rand -base64 18
S3_SECRET_ACCESS_KEY=
S3_ENDPOINT=
# e.g. us-east-1
S3_REGION=
S3_BUCKET=cliqrelay
S3_PRESIGNED_URL_EXPIRY=15m

# Authula
# e.g. http://localhost:8080
AUTHULA_BASE_URL=
# Generate using: openssl rand -hex 32
AUTHULA_SECRET=

# SMTP
# e.g. host.docker.internal
SMTP_HOST=
# e.g. 2525
SMTP_PORT=

OPENAPI_SPEC_VERSION=0.1.0
# e.g. http://localhost:3000
CLIENT_URL=
EXTENSION_URL=
# e.g. postgresql://postgres:<password>@postgres/cliqrelay?sslmode=disable
DATABASE_URL=
STANDALONE_MODE=false
BASE_URL=http://localhost:8080
PORT=8080
GO_ENV=production
LOG_LEVEL=info

# ------------------------
# FRONTEND
# ------------------------

AUTHULA_URL=http://api:8080/api/v1/auth
API_URL=http://api:8080

# You can find the ID after you install the extension in Chrome
VITE_EXTENSION_ID=
VITE_AUTHULA_URL=http://localhost:8080/api/v1/auth
VITE_API_URL=http://localhost:8080
VITE_BASE_URL=http://localhost:3000
VITE_APP_NAME=CliqRelay
