# e.g. 5432
POSTGRES_PORT=""
# e.g. postgres
POSTGRES_USER=""
# e.g. openssl rand -base64 24
POSTGRES_PASSWORD=""
# e.g. cliqrelay
POSTGRES_DB=""

# e.g. 6379
REDIS_PORT=""
# e.g. openssl rand -base64 24
REDIS_PASSWORD=""

# e.g. 9000
RUSTFS_PORT=""
# e.g. 9001
RUSTFS_CONSOLE_PORT=""
